<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smartsecurity.rootapp" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.smartsecurity.rootapp.RootApp"
        android:exported="true"
        android:label="Root App"
        android:theme="@style/Theme.App">
        <service android:name="com.smartsecurity.rootapp.telemetry.SensorService" android:exported="false" />
        <activity android:name="com.smartsecurity.rootapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
